<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnd.calificaprofesores"
    android:versionCode="6"
    android:versionName="Califica profesores 0.6">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityError404">

        </activity>
        <activity android:name=".ActivityWriteNews" />
        <activity android:name=".ActivityVerificar" />
        <activity android:name=".ActivityPrivacyPolicy" />
        <activity android:name=".ActivityAtribuciones" />
        <activity android:name=".ActivitySendCommentProf" />
        <activity android:name=".ActivityOpinarMateria" />
        <activity android:name=".ActivityClassFrontPageV2" />
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLink" />
        <activity android:name=".ActivitySignIn" />
        <activity android:name=".ActivityUser" />
        <activity android:name=".ActivitySignUp" />
        <activity android:name=".ActivitySelectUni" />
        <activity android:name=".ActivitySearchProfessor" />
        <activity android:name=".ActivityProfesorFrontPage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ActivityCalProf"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityClassFrontPage" />
        <activity android:name=".ActivitySearchCourse" />
        <activity android:name=".ActivityAddClass" />
        <activity android:name=".ActivityAddUni" />
        <activity android:name=".ActivityAddProf" />
        <activity android:name=".ActivityProfFrontPageV2" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" />
    </application>

</manifest>